/* body{
    padding-bottom: 500px;
    background-image: url(../img/city.jpg);
 }*/

/* 18 - Opacidade bg */
.bgopacity{
    background-color: green;
    opacity: 0.2;
}

.bgopacity-2{
    background-color: #999;
    color: #000;
}

/* 19 - RGBA com opacidade */
.rgba-opacity{
    background-color: rgb(90, 12, 20, 0.2);
    color: #000;
}

/* 20 bg img */
.bg-image{
    padding: 10px;
    background-image: url(../img/nature.jpg);
    color: #fff;
}

/* 21 - centralizar img no bg */
.centered-bg,
.not-centered-bg{
    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
}

.centered-bg{
    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
}

/* 22 - largura e altura */
.without-padding,
.padding{
    background-color: #111;
    color: #fff;
}

.padding{
    padding: 20px;
    background-color: #333;
}

/* 23 - Height */

.height1{
    height: 200px;
    width: 100px;
    background-color: rebeccapurple;
}

.height2{
    height: 300px;
    background-color: #333;
}

/* 24 - Padding individual */
.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 20px;
}

/* 25 - Shorthand padding */
.shortpad{
    background-color: #444;
    color: #fff;
    padding: 6px 12px 18px 24px;
}
.shortpad-2{
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
}

/* 26 */
.w-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}
.border-box{
    background-color: #555;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}