/* p{
    color: violet;
    font-size: 90px;
}*/

/* 6 CLASS*/
/* body{
    padding-bottom: 500px;
    background-image: url(../img/city.jpg);
} */

.paragraph{
    background-color: blueviolet; 
    color: blanchedalmond;
    padding: 5px;
    width: 500px;
    text-align: center;
}

#exclusivo-title{
    background-color: blue;
    color: antiquewhite;
    padding: 10px;
    font-size: 40px;
    width: 500px;
}

/* 10 multiplas regras */
h2{
    border-bottom: 2px dotted red;
    width: 500px;
}

.titulo{
    border-bottom: 3px solid blue;
}

#algum-titulo{
    border-bottom: 4px dotted green;
}

/* 11 */
.color-name{
    color: crimson;
}

/* 12 - HEX */
.hex{
    color: #55a398;
}

.hex-2{
    color: #00eaff;
}

/* 13 */
.simple-hex{
    color: #333;
}

.simple-hex-2{
    color: #a5f;
}

/* 14 - RGB */
.rgb{
    color: rgb(255 ,0,0);
}

.mixed-rgb{
    color: rgb(199, 21, 47);
}

/* 15 - RGBA */
.rgba{
    color: rgba(100, 199, 47, 0.3);
}

/* 16 - hsl */
.hsl{
    color: hsl(100, 82%, 48%);
}

.hsl-2{
    color: hsl(201, 82%, 48%);
}

/* 17 - Background color */
.bg{
    background-color: #000;
    color: purple;
}

.bg-2{
    background-color: rgb(200, 20, 40);
    color: #00eaff;
}

/* 18 - Opacidade bg */
.bgopacity{
    background-color: green;
    opacity: 0.2;
}

.bgopacity-2{
    background-color: #999;
    color: #000;
}

/* 19 - RGBA com opacidade */
.rgba-opacity{
    background-color: rgb(90, 12, 20, 0.2);
    color: #000;
}

/* 20 bg img */
.bg-image{
    padding: 10px;
    background-image: url(../img/nature.jpg);
    color: #fff;
}

/* 21 - centralizar img no bg */
.centered-bg,
.not-centered-bg{
    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
}

.centered-bg{
    background-image: url(../img/bridge.jpg);
    height: 400px;
    width: 400px;
    background-position: center;
    background-size: cover;
}

/* 22 - largura e altura */
.without-padding,
.padding{
    background-color: #111;
    color: #fff;
}

.padding{
    padding: 20px;
    background-color: #333;
}

/* 23 - Height */

.height1{
    height: 200px;
    width: 100px;
    background-color: rebeccapurple;
}

.height2{
    height: 300px;
    background-color: #333;
}

/* 24 - Padding individual */
.padding-individual{
    background-color: #222;
    color: #fff;
    padding-top: 5px;
    padding-bottom: 40px;
    padding-left: 10px;
    padding-right: 20px;
}

/* 25 - Shorthand padding */
.shortpad{
    background-color: #444;
    color: #fff;
    padding: 6px 12px 18px 24px;
}
.shortpad-2{
    background-color: #555;
    color: #fff;
    padding: 10px 20px;
}

/* 26 - Border-box */
.w-border-box{
    background-color: #444;
    color: #fff;
    width: 400px;
    padding: 50px;
}
.border-box{
    background-color: #555;
    color: #fff;
    width: 400px;
    padding: 50px;
    box-sizing: border-box;
}

/* 27 - Bordas */
.border{
    border: 5px solid red;
    padding: 10px;
}
.border2{
    border: 2px dotted blueviolet;
    padding: 10px;
    background-color: #999;
}

/* 28 - Bordas individuais */
.border-esquerda{
    border-left: 3px solid red;
}
.border-abaixo{
    border-bottom: 3px dotted blue;
}

/* 29 - Bordas arredondadas */
.arredondadas{
    border: 4px solid blue;
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 15px;
}
.arredondadas-2{
    background-color: #000;
    color: blue;
    padding: 15px;
    border-radius: 25px;
}

/* 30 - Margem */
.margin{
    margin: 10px;
    background-color: #222;
    color: #fff;
}
.margin-2{
    margin-top: 10px;
    background-color: #444;
    color: #fff;
}
.margin-3{
    margin: 5px 10px 15px 20px;
    background-color: #666;
    color: #fff;
}